src/web/OnlineShopping/.vs
src/web/OnlineShopping/OnlineShopping/bin
src/web/OnlineShopping/OnlineShopping/obj
src/web/OnlineShopping/packages
src/web/OnlineShopping/OnlineShopping/OnlineShopping.csproj
src/web/OnlineShopping/OnlineShopping/OnlineShopping.csproj.user